{% extends "basic_app/base.html" %}
<script>
  {% block jquery %}

  $(document).ready(function () {
    var canvas = document.getElementById("lineChart");
    var ctx = canvas.getContext('2d');
    var col = ["#FFBF00", "#e6194B", "#3cb44b", "#ffe119", "#4363d8", "#f58231", "#42d4f4", "#f032e6", "#fabebe",
      "#469990", "#e6beff", "#9A6324", "#f6f92f", "#800000", "#aaffc3", "#000075", "#a9a9a9", "#000000"
    ]
    // Global Options:
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.defaultFontColor = 'black';
    Chart.defaults.global.defaultFontSize = 16;
    console.log('LOADING UP THIS BISH')

    function calculateWeeksBetween(date1, date2) {

      var ONE_WEEK = 1000 * 60 * 60 * 24 * 7;

      var date1_ms = date1.getTime();
      var date2_ms = date2.getTime();

      var difference_ms = Math.abs(date1_ms - date2_ms);
      var weeks = Math.floor(difference_ms / ONE_WEEK);
      var gw = (weeks <= 13) ? weeks : 13;
      return gw;
    };
    var startDate = new Date(2020, 9, 11);
    var curDate = new Date();
    var gweek = calculateWeeksBetween(curDate, startDate);
    console.log('______++')
    console.log(gweek);
    console.log('______--')

  

    var winWidth = $(window).width();
    var label_length = [];
    for (var i = 1; i <= gweek; i++) {
      label_length.push(i);
    }
    var hideLeg = false;
    if (winWidth >= 770) {
      hideLeg = true;
    };

    var data = {
      labels: label_length,
      datasets:[
      {% for i in week_scores %}{
          label: "{{i.0}}",
          fill: false,
          lineTension: 0.0,
          backgroundColor: "white",
          borderColor: col.pop(),
          borderCapStyle: 'square',
          borderWidth: 2, // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "black",
          pointBackgroundColor: "white",
          pointBorderWidth: 1,
          pointHoverRadius: 4,
          pointHoverBackgroundColor: "white",
          pointHoverBorderColor: "green",
          pointHoverBorderWidth: 1.5,
          pointRadius: 2,
          pointHitRadius: 6,
          hidden: ("{{i.0}}" === 'Weekly Avg') ? false : true,
          // notice the gap in the data and the spanGaps: true
          data: {{i.1}},
          spanGaps: true,
        },
        {% endfor %}]
    };

    // Notice the scaleLabel at the same level as Ticks
    var options = {
      responsive: true,
      title: {
        display: true,
        text: "Weekly Scores",
        fontStyle: 'bold',
        fontSize: 22
      },
      scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false
                    },
                    scaleLabel: {
                         display: true,
                         labelString: 'Points Scored',
                         fontSize: 20
                      }
                }],
                xAxes: [{
                    ticks: {
                        beginAtZero:false
                    },
                    scaleLabel: {
                         display: true,
                         labelString: 'Gameweek',
                         fontSize: 20
                      }
                }]
            },
            legend: {
              display: hideLeg,
              position: 'right',
              labels: {
                boxWidth: 15,
                fontSize: 12
              }
            },
            layout:{
              padding:{
                top:15,
                left: 10,
                right: 10,
                bottom: 10
              }
            }
    };

    // Chart declaration:
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: options
    });



    var canvas2 = document.getElementById("barChart");
    var ctx2 = canvas2.getContext('2d');
    var labels2 = [];
    var dataset2 = [];

    {% for i in leaders %}
    labels2.push("{{i.0}}");
    dataset2.push({{i.1}});
    {% endfor %}

    var data2 = {
      labels: labels2,
      datasets:[{
        data: dataset2,
        backgroundColor: ["#e6194B", "#3cb44b", "#ffe119", "#4363d8", "#f58231", "#42d4f4", "#469990"],
        borderCapStyle: 'square',
      }]
    };
    var options2 = {
      responsive: true,
      title: {
        display: true,
        text: "Season Winnings",
        fontStyle: 'bold',
        fontSize: 22
      },
      layout:{
        padding:{
          top:15,
          left: 10,
          right: 10,
          bottom: 10
        }
      },
      legend: {
        display: false
      },
    };

    var myBarChart = new Chart(ctx2, {
        type: 'bar',
        data: data2,
        options: options2
    });


    var canvas3 = document.getElementById("barChart2");
    var ctx3 = canvas3.getContext('2d');
    var labels3 = [];
    var dataset3 = [];

    {% for i in late %}
    labels3.push("{{i.0}}");
    dataset3.push({{ i.1 }});
    {% endfor %}

    var data3 = {
      labels: labels3,
      datasets:[{
        data: dataset3,
        backgroundColor: ["#FFBF00", "#e6194B", "#3cb44b", "#ffe119", "#4363d8", "#f58231", "#42d4f4", "#f032e6", "#fabebe", "#469990", "#e6beff", "#9A6324", "#f6f92f", "#800000", "#aaffc3", "#000075", "#a9a9a9", "#000000"],
        borderCapStyle: 'square',
      }]
    };
    var options3 = {
      responsive: true,
      title: {
        display: true,
        text: "Weeks 10-16 Points Scored",
        fontStyle: 'bold',
        fontSize: 22
      },
      scales: {
                yAxes: [{
                    ticks: {
                        suggestedMin:300,
                    },
                    scaleLabel: {
                         display: true,
                         labelString: 'Points Scored',
                         fontSize: 18
                      }
                }],
                xAxes: [{
                    ticks: {
                        beginAtZero:false
                    },
                    scaleLabel: {
                         display: true,
                         labelString: 'Team Name',
                         fontSize: 18
                      }
                }]
            },
      layout:{
        padding:{
          top:15,
          left: 10,
          right: 10,
          bottom: 10
        }
      },
      legend: {
        display: false
      },
    };

    var myBarChart2 = new Chart(ctx3, {
        type: 'bar',
        data: data3,
        options: options3
    });


});

{% endblock %}
</script>

        {% block body_block %}
        <div class="jumbotron text-center">
          <div class="container-fluid">
          <h1>RSWK Fantasy Football</h1>
          <p>Where our fantasy skills are only exceeded by our dissapointment</p>
          </div>
        </div>


        <div class="container-fluid text-center">
          <div class="row justify-content-center rowone row-eq-height">
            <div class="col-lg-7">
              <div class="table-responsive boxy">
                <h2>Current Standings</h2>
                <table class="table table-sm table-striped table-hover">
                  <thead class="thead-light">
                    {% if Scoreboard %}
                    <tr>
                      <th scope="col">Rank</th>
                      <th scope="col">Team</th>
                      <th scope="col">Wins</th>
                      <th scope="col">Losses</th>
                      <th scope="col">Points For</th>
                      <th scope="col">Points Against</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for p in Scoreboard %}
                    <tr>
                      <th scope="row">{{ p.5 }}</th>
                      <td>{{ p.0 }}</td>
                      <td>{{p.3}}</td>
                      <td>{{p.4}}</td>
                      <td>{{p.1}}</td>
                      <td>{{p.2}}</td>
                    </tr>

                    {% endfor %}
                    {% endif %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>



          <div class="row justify-content-center rowone row-eq-height">
            <div class="col-lg-7">
              <div class="chart-container flex-fill" style ="position: relative;">
              <canvas id="lineChart" style='display:block'></canvas>
              </div>
              <p>Click the players name to toggle the chart view.</p>
            </div>
          </div>


          <div class="row justify-content-center rowone row-eq-height">
            <div class="col-lg-7">
              <div class="table-responsive boxy">
                <h2>Current Prize Leaders</h2>
                <table class="table table-sm table-striped table-hover">
                  <thead class="thead-light">
                    {% if trophies %}
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Prize</th>
                      <th scope="col">Current Leader</th>
                      <th scope="col">Score</th>
                      <th scope="col">Game Week</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">League Champion</th>
                      <td>{{ trophies.first.0 }}</td>
                      <td>{{ trophies.first.1 }}</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">League Runner-Up</th>
                      <td>{{ trophies.second.0 }}</td>
                      <td>{{ trophies.second.1 }}</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">Third Place</th>
                      <td>{{ trophies.third.0 }}</td>
                      <td>{{ trophies.third.1 }}</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">Skittish Winner</th>
                      <td>{{ trophies.skittish.0 }}</td>
                      <td>{{ trophies.skittish.1 }}</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">Regular Season Winner</th>
                      <td>{{ trophies.season_winner.0 }}</td>
                      <td>{{ trophies.season_winner.1 }}</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">Most Points to Miss Playoffs</th>
                      <td>{{ trophies.best_miss.0 }}</td>
                      <td>{{ trophies.best_miss.1 }}</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">Most Points Scored</th>
                      <td>{{ trophies.high_points.0 }}</td>
                      <td>{{ trophies.high_points.1 }}</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">Most Points Week 10-16</th>
                      <td>{{ trophies.week10_16.0 }}</td>
                      <td>{{ trophies.week10_16.1 }}</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">Most Points Against</th>
                      <td>{{ trophies.most_against.0 }}</td>
                      <td>{{ trophies.most_against.1 }}</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th scope="row">Highest Scoring Loss</th>
                      <td>{{ trophies.highest_loss.0 }}</td>
                      <td>{{ trophies.highest_loss.1 }}</td>
                      <td>{{ trophies.highest_loss.2 }}</td>
                      <td>{{ trophies.highest_loss.3 }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Highest Single Week Score</th>
                      <td>{{ trophies.high_score.0 }}</td>
                      <td>{{ trophies.high_score.1 }}</td>
                      <td>{{ trophies.high_score.2 }}</td>
                      <td>{{ trophies.high_score.3 }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Biggest Margin of Victory</th>
                      <td>{{ trophies.margin.0 }}</td>
                      <td>{{ trophies.margin.1 }}</td>
                      <td>{{ trophies.margin.2 }}</td>
                      <td>{{ trophies.margin.3 }}</td>
                    </tr>
                    {% endif %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="row justify-content-center rowone row-eq-height">
            <div class="col-lg-7">
              <div class="table-responsive boxy">
                <h2>Survival of the Skittish Results</h2>
                <table class="table table-sm table-striped table-hover">
                  <thead class="thead-light">
                    {% if skittish %}
                    <tr>
                      <th scope="col">Week Eliminated</th>
                      <th scope="col">Team Name</th>
                      <th scope="col">Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in skittish.0 %}
                    <tr>
                      <td>{{ i.0 }}</td>
                      <td>{{ i.2 }}</td>
                      <td>{{ i.1 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  <thead class="thead-light">
                    <tr>
                      <th colspan="3" scope="col">Remaing Teams</th>
                    </tr>
                  <tbody>
                    {% for team in skittish.1 %}
                    <tr>
                      <td colspan="3" scope="col">{{team}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  {% endif %}


                </table>
              </div>
            </div>
          </div>

          <div class="row justify-content-center rowone row-eq-height">
            <div class="col-lg-7">
              <div class="table-responsive boxy">
                <h2>Current Projected Winnings</h2>
                <table class="table table-sm table-striped table-hover">
                  <thead class="thead-light">
                    {% if leaders %}
                    <tr>
                      <th scope="col">Team</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for p in leaders %}
                    <tr>
                      <td>{{ p.0 }}</td>
                      <td>${{p.1}}</td>
                    </tr>

                    {% endfor %}
                    {% endif %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="row justify-content-center rowone row-eq-height">
            <div class="col-lg-7">
              <div class="chart-container flex-fill" style ="position: relative;">
              <canvas id="barChart" style='display:block;'></canvas>
              </div>
            </div>
          </div>

          <div class="row justify-content-center rowone row-eq-height">
            <div class="col-lg-7">
              <div class="chart-container flex-fill" style ="position: relative;">
              <canvas id="barChart2" style='display:block;'></canvas>
              </div>
            </div>
          </div>


          <div class="row justify-content-center rowone row-eq-height">
            <div class="col-lg-7" align="center">
              <div class="boxy"><h2>The Real Schefty </h2></div>
                <a class="twitter-timeline" data-height="450px"  href="https://twitter.com/AdamSchefter?ref_src=twsrc%5Etfw">Tweets by AdamSchefter</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>
          </div>


  {% endblock %}
