<!DOCTYPE html>
{% extends "basic_app/base.html" %}
    {% block body_block %}
    <div class="container-fluid text-center">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-6">
          <div class="table-responsive boxy">
            <h2>Overall</h2>
            <table class="table table-sm table-striped table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Owner</th>
                  <th scope="col">Wins</th>
                  <th scope="col">Losses</th>
                  <th scope="col">Win Percentage</th>
                </tr>
              </thead>
              {% for i in  total%}

              <tbody>
                <tr>
                  <th scope="row">{{ i.0 }}</th>

                  <td>{{ i.1 }}</td>
                  <td>{{i.2}}</td>
                  <td>{{i.3}}</td>

                </tr>
              </tbody>

              {% endfor %}
            </table>
          </div>
        </div>
        </div>
      </div>

    {% if past_szn %}


    <div class="container-fluid text-center">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-6">
          <div class="table-responsive boxy">
            <h2>2014 Season</h2>
            <table class="table table-sm table-striped table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Year</th>
                  <th scope="col">Rank</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Wins</th>
                  <th scope="col">Losses</th>
                  <th scope="col">Ties</th>
                  <th scope="col">Points For</th>
                  <th scope="col">Points Against</th>
                </tr>
              </thead>
              {% for i in past_szn %}
              {% if i.year == 2014 %}
              <tbody>
                <tr>
                  <th scope="row">{{ i.year }}</th>
                  <td>{{ i.place }}</td>
                  <td>{{i.owner}}</td>
                  <td>{{i.wins}}</td>
                  <td>{{i.losses}}</td>
                  <td>{{i.ties}}</td>
                  <td>{{i.points_for}}</td>
                  <td>{{i.points_against}}</td>
                </tr>
              </tbody>
              {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
        </div>
      </div>

      <div class="container-fluid text-center">
        <div class="row justify-content-center align-items-center">
          <div class="col-xl-6">
            <div class="table-responsive boxy">
              <h2>2015 Season</h2>
              <table class="table table-sm table-striped table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Year</th>
                    <th scope="col">Rank</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Wins</th>
                    <th scope="col">Losses</th>
                    <th scope="col">Ties</th>
                    <th scope="col">Points For</th>
                    <th scope="col">Points Against</th>
                  </tr>
                </thead>
                {% for i in past_szn %}
                {% if i.year == 2015 %}
                <tbody>
                  <tr>
                    <th scope="row">{{ i.year }}</th>
                    <td>{{ i.place }}</td>
                    <td>{{i.owner}}</td>
                    <td>{{i.wins}}</td>
                    <td>{{i.losses}}</td>
                    <td>{{i.ties}}</td>
                    <td>{{i.points_for}}</td>
                    <td>{{i.points_against}}</td>
                  </tr>
                </tbody>
                {% endif %}
                {% endfor %}
              </table>
            </div>
          </div>
          </div>
        </div>

        <div class="container-fluid text-center">
          <div class="row justify-content-center align-items-center">
            <div class="col-xl-6">
              <div class="table-responsive boxy">
                <h2>2016 Season</h2>
                <table class="table table-sm table-striped table-hover">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Year</th>
                      <th scope="col">Rank</th>
                      <th scope="col">Owner</th>
                      <th scope="col">Wins</th>
                      <th scope="col">Losses</th>
                      <th scope="col">Ties</th>
                      <th scope="col">Points For</th>
                      <th scope="col">Points Against</th>
                    </tr>
                  </thead>
                  {% for i in past_szn %}
                  {% if i.year == 2016 %}
                  <tbody>
                    <tr>
                      <th scope="row">{{ i.year }}</th>
                      <td>{{ i.place }}</td>
                      <td>{{i.owner}}</td>
                      <td>{{i.wins}}</td>
                      <td>{{i.losses}}</td>
                      <td>{{i.ties}}</td>
                      <td>{{i.points_for}}</td>
                      <td>{{i.points_against}}</td>
                    </tr>
                  </tbody>
                  {% endif %}
                  {% endfor %}
                </table>
              </div>
            </div>
            </div>
          </div>

          <div class="container-fluid text-center">
            <div class="row justify-content-center align-items-center">
              <div class="col-xl-6">
                <div class="table-responsive boxy">
                  <h2>2017 Season</h2>
                  <table class="table table-sm table-striped table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Year</th>
                        <th scope="col">Rank</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">Ties</th>
                        <th scope="col">Points For</th>
                        <th scope="col">Points Against</th>
                      </tr>
                    </thead>
                    {% for i in past_szn %}
                    {% if i.year == 2017 %}
                    <tbody>
                      <tr>
                        <th scope="row">{{ i.year }}</th>
                        <td>{{ i.place }}</td>
                        <td>{{i.owner}}</td>
                        <td>{{i.wins}}</td>
                        <td>{{i.losses}}</td>
                        <td>{{i.ties}}</td>
                        <td>{{i.points_for}}</td>
                        <td>{{i.points_against}}</td>
                      </tr>
                    </tbody>
                    {% endif %}
                    {% endfor %}
                  </table>
                </div>
              </div>
              </div>
            </div>

            <div class="container-fluid text-center">
              <div class="row justify-content-center align-items-center">
                <div class="col-xl-6">
                  <div class="table-responsive boxy">
                    <h2>2018 Season</h2>
                    <table class="table table-sm table-striped table-hover">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Year</th>
                          <th scope="col">Rank</th>
                          <th scope="col">Owner</th>
                          <th scope="col">Wins</th>
                          <th scope="col">Losses</th>
                          <th scope="col">Ties</th>
                          <th scope="col">Points For</th>
                          <th scope="col">Points Against</th>
                        </tr>
                      </thead>
                      {% for i in past_szn %}
                      {% if i.year == 2018 %}
                      <tbody>
                        <tr>
                          <th scope="row">{{ i.year }}</th>
                          <td>{{ i.place }}</td>
                          <td>{{i.owner}}</td>
                          <td>{{i.wins}}</td>
                          <td>{{i.losses}}</td>
                          <td>{{i.ties}}</td>
                          <td>{{i.points_for}}</td>
                          <td>{{i.points_against}}</td>
                        </tr>
                      </tbody>
                      {% endif %}
                      {% endfor %}
                    </table>
                  </div>
                </div>
                </div>
              </div>

        {% endif %}


    {% endblock %}
