{% extends "basic_app/base.html" %}
<script>
{% block jquery %}

$(document).ready(function(){
    var canvas = document.getElementById("lineChart");
    var ctx = canvas.getContext('2d');
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.defaultFontColor = 'black';
    Chart.defaults.global.defaultFontSize = 16;

    var data = {
      labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
      datasets: [{
              data: {{team}},
              label: "Player Score",
              borderColor: "#3e95cd",
              fill: false,
              lineTension: 0.1,
            }, {
              data: {{hi}},
              label: "Weekly High Score",
              borderColor: "#8e5ea2",
              fill: false,
              lineTension: 0.1,
            }, {
              data: {{lo}},
              label: "Weekly Low Score",
              borderColor: "red",
              fill: false,
              lineTension: 0.1,
            }, {
              data: {{avg}},
              label: "Weekly Average",
              borderColor: "#e8c3b9",
              fill: false,
              lineTension: 0.1,
            }
          ]
        };


    var options = {
      responsive: true,
      title: {
        display: true,
        text: "Season Performance",
        fontStyle: 'bold',
        fontSize: 22
      },
      scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false
                    },
                    scaleLabel: {
                         display: true,
                         labelString: 'Points Scored',
                         fontSize: 20
                      }
                }],
                xAxes: [{
                    ticks: {
                        beginAtZero:false
                    },
                    scaleLabel: {
                         display: true,
                         labelString: 'Gameweek',
                         fontSize: 20
                      }
                }],
            legend: {
              display: true,
              position: 'right',
              labels: {
                boxWidth: 15,
                fontSize: 12
              }
            },
            layout:{
              padding:{
                top:15,
                left: 10,
                right: 10,
                bottom: 10
              }
            }
          }
    };

    // Chart declaration:
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: options
    });
});
{% endblock %}
</script>


{% block body_block %}
<div style="display: flex; justify-content: center; margin-top: 30px;">
  <h3>{{player}}</h3>
</div>

<div class="row justify-content-center rowone row-eq-height past-season-cont">
  
  <div class="col-lg-7">
    <div class="chart-container flex-fill" style ="position: relative">
    <canvas id="lineChart" style='display:block'></canvas>
    </div>
  </div>
</div>

<div class="container-fluid text-center">

  <div class="row justify-content-center rowone row-eq-height">
    <div class="col-lg-7">
      <div class="table-responsive boxy weekly">
        <h2> {{info.team_name}} Season Stats</h2>
        <table class="table table-sm table-striped table-hover">

          {% if info %}
          <tbody>
            <tr>
              <th scope="row">Average Yearly Finish</th>
              <td>{{ info.avg_yearly_finish }}</td>
            </tr>
            <tr>
              <th scope="row">Current Place</th>
              <td>{{ info.current_place }}</td>
            </tr>
            <tr>
              <th scope="row">Wins</th>
              <td>{{ info.wins }}</td>
            </tr>
            <tr>
              <th scope="row">Losses</th>
              <td>{{ info.losses }}</td>
            </tr>
            <tr>
              <th scope="row">Avg Points For</th>
              <td>{{ info.avg_for }}</td>
            </tr>
            <tr>
              <th scope="row">Avg Points Against</th>
              <td>{{ info.avg_against }}</td>
            </tr>
            <tr>
              <th scope="row">Biggest Win</th>
              <td>{{ info.biggest_win }}</td>
            </tr>
            <tr>
              <th scope="row">Biggest Loss</th>
              <td>{{ info.biggest_loss }}</td>
            </tr>
            <tr>
              <th scope="row">Closest Win</th>
              <td>{{ info.closest_win }}</td>
            </tr>
            <tr>
              <th scope="row">Closest Loss</th>
              <td>{{ info.closest_loss }}</td>
            </tr>
            <tr>
              <th scope="row">Average Score for Winning Weeks</th>
              <td>{{ info.avg_winning_score }}</td>
            </tr>
            <tr>
              <th scope="row">Average Score for Losing Weeks</th>
              <td>{{ info.avg_losing_score }}</td>
            </tr>
            <tr>
              <th scope="row">Weekly Finishes in Top 7</th>
              <td>{{ info.top_7 }}</td>
            </tr>
            <tr>
              <th scope="row">Average Weekly Finish</th>
              <td>{{ info.avg_weekly_finish }}</td>
            </tr>

          </tbody>
          {% endif %}
        </table>
      </div>
    </div>
  </div>

  <div class="row justify-content-center rowone row-eq-height">
    <div class="col-lg-7">
      <div class="table-responsive boxy weekly">
        <h2>Weekly Performance</h2>
        <table class="table table-sm table-striped table-hover">
          <thead class="thead-light">
            {% if ranks %}
            <tr>
              
              <th scope='col'>Week</th>
              <th scope="col">Points For</th>
              <th scope="col">Weekly Rank</th>

            </tr>
          </thead>
          <tbody>
            {% for p in ranks %}
            <tr>
              <th scope="row">{{ p.0 }}</th>
              <td>{{ p.1 }}</td>
              <td>{{ p.2 }}</td>

            </tr>

            {% endfor %}
            {% endif %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>

{% endblock %}
