<!DOCTYPE html>
{% extends "basic_app/base.html" %}
  {% block body_block %}
  <div class="container-fluid text-center">
    <div class="row justify-content-center align-items-center">
             <div class="col-xl-6">
               <div class="table-responsive boxy weekly">
               <h3>Weekly Stats</h3>
               <table class="table table-sm table-striped table-hover">
                 <thead class="thead-light">
                   <tr>

                     <th scope="col">Game Week</th>
                     <th scope="col">High Score</th>
                     <th scope="col">Team</th>
                     <th scope="col">Low Score</th>
                     <th scope="col">Team</th>
                     <th scope="col">Average Score</th>
                     <th scope="col">Standard Deviation</th>
                   </tr>
                 </thead>
                 {% if stats %}
                 <tbody>
                   {% for i in stats %}
                   <tr>
                     <td scope="row">{{i.0}}</td>
                     <td scope="row">{{i.1}}</td>
                     <td scope="row">{{i.5}}</td>
                     <td scope="row">{{i.2}}</td>
                     <td scope="row">{{i.6}}</td>
                     <td scope="row">{{i.3}}</td>
                     <td scope="row">{{i.4}}</td>
                   </tr>

                   {% endfor %}
                   {% endif %}


  {% endblock %}
